/* --------------------------
  Main Styles
--------------------------- */

.main-header,
.nav {
	display: flex;
}

.main-header,
.nav,
.footer-nav {
    flex-direction: column;
    font-weight: 700;
    background-color: #fafafa;
}

.footer-nav {
    display: none;
}

.name {
    font-family: 'Noto Sans', Helvetica, sans-serif ;
    font-size: 1.5em;
    font-weight: 700;
    align-self: center;
    text-decoration: none;
    color: #4a4a4a;
    padding: 30px;
}

.nav a,
.footer-nav a {
	display: block;
	color: #4a4a4a;
	font-size: 1em;
	font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: .4em;
}

.nav a:hover,
.footer-nav a:hover {
	color: #0b0b0b;
}

.nav li,
.footer-nav li {
    background-color: #fff;
    margin-top: 5px;
    padding: 5px;
    margin: 5px 15px 0px 15px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

body {
background-color: #fafafa;
font-family: 'Ubuntu', Helvetica, sans-serif ;
color: #4a4a4a;
margin: 0px;
padding: 0px;
line-height: 1.5;
}

article {
    padding-bottom: 20px;
}

.intro {
    padding: 40px 20px 20px 20px;
    text-align: center;
    font-weight: 200;
    font-size: 1.2em;  
    color: #7f7f7f;  
}

.prof-pic {
width: 70%;
align-self: center;  
}

h1 {
    color: #4a4a4a;
	font-size: 1em;
	font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none; 
    padding-bottom: 40px;
}

h2 {
    color: #4a4a4a;
	font-size: 1.25em;
	font-weight: 400;
    text-align: center;
}

p {
font-size: 0.95rem;
font-weight: 200;
}

#portfolio {
padding: 50px 20px 20px 20px;    
background-color: #fff;
text-align: center;
}

.portfolio-images {
    width: 100%;
}

#contact {
    padding: 50px 20px 20px 20px;
    text-align: center;
    color: #7f7f7f;
    }

#contact a:link, #contact a:visited {
    color: #7f7f7f;
    font-weight: 700;
    text-decoration: none;
    padding-left: 10px;
}

footer{
margin: 20px; 
border-top: 1px solid #e7e7e7;
}

.footer-left {
float: left;
font-family: 'Noto Sans', Helvetica, sans-serif ;
}

.footer-right,
.footer-nav {
    float: right;
    text-transform: uppercase;
    }

.footer-right a:visited  {
    text-decoration: none;
    color: #4a4a4a;
}

.footer-right a:link  {
    text-decoration: none;
    color: #4a4a4a;
}

.footer-left,
.footer-right,
.footer-nav {
    padding: 20px 0px;
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
  }

/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 768px) {
	.main-header {
		justify-content: flex-end;
	}
	
    .nav,
    .footer-nav {

		flex-direction: row;
		margin: auto;
    }
    
    .nav li,
    .footer-nav li {
        float:left;
        background-color: transparent;
    }

    .footer-nav li {
        margin: 0px;
    }

    .footer-left,
    .footer-nav li  {
    font-size: 0.8rem;
    }

    .name {
        padding: 30px 30px 15px 30px;

    }

    .prof-pic {
        float: right;
        width: 40%;
        margin-left: 15px;
        margin-bottom: 50px;
    }

    .intro p {
        margin-top: 0;
        padding-top: 0;
        font-size: 1.15em;
        text-align: left;
    }

    .intro {
        padding-bottom: 50px;
    }

    article {
        float:left;
        width: 50%;
    }

    #portfolio {
    padding-left: 30px;
    padding-right: 30px;
    clear: both;
    }

    .portfolio-images {
    width: 95%;
    }

    article h2,
    article p {
        width: 95%;
    }

    #contact {
        clear: both;
    }

    #contact p {
        padding-left: 100px;
        padding-right: 100px;
        font-size: 1.2em;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
      }

      .footer-right {
          display: none;
      }

      .footer-nav {
            display: flex;
        }

    .footer {
        margin-bottom: 130px;
    }

      }
	


@media (min-width: 1024px) {
	.main-header {
        flex-direction: row;
        margin-top: 30px;
        margin-right: 30px;
        margin-left: 30px;
        padding-left: 20px;
        padding-right: 20px;
	}
	.name {
        margin-right: auto;
        padding: 0px;
	}
	.nav {
		margin: 5px;
	}
	.nav li {
		margin-left: .65em;
        margin-right: .65em;
    }

    .footer-nav li {
        margin: 0px;
    }

    .footer-left,
    .footer-nav li  {
    font-size: 0.9rem;
    }

    .prof-pic {
        float: right;
        width: 35%;
        margin-left: 15px;
        margin-bottom: 50px;
    }

    .intro p {
        margin-top: 0;
        padding-top: 0;
        font-size: 1.15em;
        text-align: left;
    }

    .intro {
        padding-bottom: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }

    article {
        float:left;
        width: 33%;
    }

    #portfolio {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    margin-right: 30px;
    clear: both;
    }

    .portfolio-images {
    width: 90%;
    }

    article h2,
    article p {
        width: 90%;
    }

    #contact {
        clear: both;
        margin-left: 30px;
        margin-right: 30px;
    }

    #contact p {
        padding-left: 200px;
        padding-right: 200px;
        font-size: 1.2em;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
      }

      .footer-right {
          display: none;
      }

      .footer-nav {
            display: flex;
        }

    .footer {
        margin-left: 70px;
        margin-right: 70px;
        margin-bottom: 20px;
    }

    .nav a:hover,
.footer-nav a:hover {
    color: #0b0b0b;
    background-color: #FFD27D;
    border-radius: 50px 20px;
    transition: all .8s;
}

    #contact a:hover {
    text-decoration: none;
    color: #FFD27D;
    transition: all .8s;
  }

}